.history-page-action {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    height: 100%;
}

.history-item {
    display: grid;
    grid-template-columns: 11fr 1fr;
    border: 1px solid gray;
    border-radius: 3px;
    min-height: 40px;
    margin-top: 20px;
}

.history-item-time-content {
    display: grid;
    grid-template-columns: 5fr 6fr;
}

.history-item-date-time {
    display: grid;
    grid-template-columns: 2fr 3fr;
}

.history-item-date {
    display: flex;
    justify-content: center;
    align-items: center;
}

.history-item-time {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.history-item-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.history-item-action {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-start {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

@media only screen and (max-width: 768px) {
    .history-item-time-content {
        display: grid;
        grid-template-columns: 1fr;
    }

    .history-item-content {
        margin-left: 20px;
    }
}
